Repository calthejuggler/juggling-tools: changes, and which lefthook commands are due for each by the changed paths.
All: lint-web, lint-server, format-rust

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-web:
      glob: "web/src/**/*.{ts,tsx}"
      run: bunx eslint --fix {staged_files}
      stage_fixed: true
    lint-server:
      glob: "server/src/**/*.ts"
      run: bunx eslint --fix {staged_files}
      stage_fixed: true
    format-js:
      glob: "**/*.{ts,tsx,js,json,md}"
      exclude: "engine/**"
      run: bunx prettier --write {staged_files}
      stage_fixed: true
    format-rust:
      glob: "engine/src/**/*.rs"
      root: engine/
      run: cargo fmt
      stage_fixed: true

fix: allow no trailing slash for swagger UI
  web/Caddyfile
Due: none

feat: add simulator React bindings package
  packages/simulator/react/package.json
  packages/simulator/react/src/ball.tsx
  packages/simulator/react/src/canvas.tsx
  packages/simulator/react/src/context.ts
  packages/simulator/react/src/hands.tsx
  packages/simulator/react/src/index.ts
  packages/simulator/react/src/juggler.tsx
  packages/simulator/react/src/root.tsx
  packages/simulator/react/src/use-simulator.ts
  packages/simulator/react/tsconfig.json
Due: none

refactor(sim-core): improve readability of simulator-core
  packages/simulator/core/src/physics.ts
  packages/simulator/core/src/render.ts
  packages/simulator/core/src/schedule.ts
  packages/simulator/core/src/simulator.ts
  packages/simulator/core/src/siteswap.ts
Due: none

refactor(web): use shadcn in simulator demo page
  web/src/pages/simulator.tsx
Due: lint-web

ci: fix failing CI issues
  engine/src/cache/file.rs
  engine/src/cache/precompute.rs
  engine/src/routes/graphs.rs
  engine/src/routes/table.rs
  engine/src/routes/throws.rs
  packages/simulator/core/demo.html
  packages/simulator/react/src/ball.tsx
  packages/simulator/react/src/hands.tsx
  packages/simulator/react/src/juggler.tsx
  web/src/pages/simulator.tsx
Due: lint-web, format-rust

doc(sim-core): add JSdocs for core sim package
  packages/simulator/core/src/physics.ts
  packages/simulator/core/src/render.ts
  packages/simulator/core/src/simulator.ts
  packages/simulator/core/src/types.ts
Due: none

ci: fix broken ci builds with simulator packages
  .github/workflows/ci.yml
  server/Dockerfile
  web/Dockerfile
Due: none

dev: add knip to monorepo
  .github/workflows/ci.yml
  bun.lock
  knip.json
  package.json
  packages/simulator/core/src/physics.ts
  packages/simulator/react/package.json
  packages/simulator/react/src/ball.tsx
  packages/simulator/react/src/context.ts
  packages/simulator/react/src/hands.tsx
  packages/simulator/react/src/juggler.tsx
  server/package.json
  server/src/lib/logger.ts
  web/package.json
  web/src/hooks/use-graph-layout.ts
  web/src/lib/graph-layout.ts
  web/src/queries/config.ts
  web/src/queries/graphs.ts
  web/src/queries/table.ts
  web/src/queries/throws.ts
  web/src/workers/graph-layout.worker.ts
Due: lint-web, lint-server

chore: update dependencies
  bun.lock
  engine/Cargo.lock
  package.json
Due: none

ci: fix knip script
  package.json
Due: none

ci: add changesets configurations
  .changeset/README.md
  .changeset/config.json
  .github/workflows/release-crate.yml
  .github/workflows/release.yml
  bun.lock
  lefthook.yml
  package.json
  release-plz.toml
  server/package.json
Due: none

fix: remove unauthed ban-info endpoint
  server/src/lib/logging.ts
  server/src/routes/v1/admin.ts
  web/messages/de.json
  web/messages/en.json
  web/messages/es.json
  web/messages/fr.json
  web/messages/nl.json
  web/messages/zh.json
  web/src/pages/login.tsx
  web/src/queries/admin.ts
Due: lint-web, lint-server

ci: don't run ci on non-code changes
  .github/workflows/ci.yml
  .github/workflows/release-crate.yml
  .github/workflows/release.yml
Due: none

fix: harden api_key checks
  engine/Cargo.lock
  engine/Cargo.toml
  engine/src/main.rs
Due: none

ci: add scripts dir to paths-ignore list
  .github/workflows/ci.yml
Due: none

feat(web): add simulator preview panel to siteswap builder
  web/messages/de.json
  web/messages/en.json
  web/messages/es.json
  web/messages/fr.json
  web/messages/nl.json
  web/messages/zh.json
  web/src/components/builder/builder-canvas.tsx
  web/src/components/builder/builder-simulator-panel.tsx
Due: lint-web

chore: trigger deployment
  web/src/components/builder/builder-simulator-panel.tsx
Due: lint-web

feat(sim-core): add foreground color and transparent background support
  packages/simulator/core/src/index.ts
  packages/simulator/core/src/physics.ts
  packages/simulator/core/src/render.ts
  packages/simulator/core/src/simulator.ts
Due: none

chore: add changesets
  .changeset/strong-phones-grab.md
  .changeset/wide-seals-lead.md
  packages/simulator/core/package.json
  packages/simulator/react/package.json
Due: none
