Repository calthejuggler/juggling-tools: changes, and which lefthook commands are due for each by the changed paths.
All: lint-web, lint-server, format-rust

lint-web:
  run: bunx eslint --fix {staged_files}

lint-server:
  run: bunx eslint --fix {staged_files}

format-rust:
  run: cargo fmt

feat: add reversed flag for notation direction
  .env.example
  AGENTS.md
  engine/src/cache/precompute.rs
  engine/src/graph.rs
  engine/src/logging.rs
  engine/src/main.rs
  engine/src/routes/graphs.rs
  lefthook.yml
  server/src/lib/logging.ts
  server/src/lib/schemas.ts
  server/src/routes/v1/graphs.ts
  web/src/components/graph/graph-canvas.tsx
  web/src/components/graph/graph-query-panel.tsx
  web/src/hooks/use-graph-layout.ts
  web/src/hooks/use-graphs.ts
  web/src/lib/graph-layout.ts
  web/src/lib/graph-types.ts
  web/src/pages/graphs.tsx
  web/src/workers/graph-layout.worker.ts
Due: lint-web, lint-server, format-rust

perf: set TTL on redis keys
  engine/src/cache/redis.rs
Due: format-rust

fix(frontend): trigger form validation on field changes
  web/src/pages/graphs.tsx
Due: lint-web

chore: update todos
  TODOS.md
Due: none

fix(server): remove ts-expect-error
  lefthook.yml
  server/src/routes/v1/graphs.ts
Due: lint-server

ci: add healthchecks to Dockerfiles
  compose.yml
  engine/Dockerfile
  server/Dockerfile
  server/src/index.ts
  web/Dockerfile
Due: none

chore: rebrand to juggling tools
  AGENTS.md
  bun.lock
  compose.dev.yml
  package.json
  scripts/dev.ts
  server/src/index.ts
  web/index.html
  web/src/pages/graphs.tsx
  web/src/routes/_authed.tsx
Due: lint-web

feat(frontend): state table scatter graph
  web/bun.lock
  web/package.json
  web/src/components/graph/graph-canvas.tsx
  web/src/components/graph/graph-query-panel.tsx
  web/src/components/query-form.tsx
  web/src/components/scatter/scatter-chart-canvas.tsx
  web/src/components/scatter/scatter-chart-view.tsx
  web/src/components/table/state-table.tsx
  web/src/components/ui/chart.tsx
  web/src/components/ui/toggle-group.tsx
  web/src/components/ui/toggle.tsx
  web/src/lib/binary-label.ts
  web/src/lib/graph-layout.ts
  web/src/lib/view-types.ts
  web/src/pages/graphs.tsx
  web/src/routes/_authed/index.tsx
Due: lint-web

refactor(engine): add intermediate transitions logic
  AGENTS.md
  engine/crates/juggling-tools/src/state_notation/compute.rs
  engine/crates/juggling-tools/src/state_notation/graph.rs
  engine/crates/juggling-tools/src/state_notation/mod.rs
  engine/crates/juggling-tools/src/state_notation/table.rs
Due: none

feat(server): add possible throws endpoint
  engine/src/params.rs
  engine/src/routes/mod.rs
  engine/src/routes/throws.rs
  server/src/lib/constants.ts
  server/src/lib/schemas.ts
  server/src/routes/v1/config.ts
  server/src/routes/v1/state-notation/graph.ts
  server/src/routes/v1/state-notation/index.ts
  server/src/routes/v1/state-notation/throws.ts
Due: lint-server, format-rust

ci: fix clippy warning
  engine/crates/juggling-tools/src/state_notation/state.rs
Due: none

ci: re-add envvars to compose file
  compose.yml
Due: none

fix: construct DATABASE_URL in compose file
  compose.yml
Due: none

feat(server): add gzip response compression
  server/bun.lock
  server/src/index.ts
  server/src/lib/compression.ts
Due: lint-server

perf(frontend): add lazy loading and chunk splitting
  web/src/pages/graphs.tsx
  web/src/routeTree.gen.ts
  web/src/routes/_authed/builder.lazy.tsx
  web/src/routes/_authed/builder.tsx
  web/src/routes/_authed/index.lazy.tsx
  web/src/routes/_authed/index.tsx
  web/src/routes/login.lazy.tsx
  web/src/routes/login.tsx
  web/src/routes/signup.lazy.tsx
  web/src/routes/signup.tsx
  web/vite.config.ts
Due: lint-web

feat(server): add rate-limit fallback
  server/src/lib/rate-limit.ts
Due: lint-server

fix: remove unnecessarily exposed ports
  .env.example
  compose.yml
  web/Caddyfile
  web/src/lib/api.ts
  web/src/lib/auth-client.ts
  web/src/routes/_authed.tsx
Due: lint-web

chore(frontend): rename top panel nav items
  web/src/routes/_authed.tsx
Due: lint-web

perf(engine): clear file cache on engine startup
  engine/src/cache/file.rs
  engine/src/main.rs
Due: format-rust

chore: update Bun packages
  bun.lock
  package.json
  server/bun.lock
  server/package.json
  web/bun.lock
  web/package.json
Due: none

feat(i18n): add Dutch language
  web/messages/nl.json
  web/project.inlang/settings.json
  web/src/components/locale-toggle.tsx
Due: lint-web

fix: fix Dutch language placement issues
  web/src/components/graph/graph-query-panel.tsx
  web/src/components/query-form.tsx
  web/src/components/scatter/scatter-chart-canvas.tsx
  web/src/components/table/state-table-canvas.tsx
Due: lint-web

dev: auto-promote ADMIN_EMAIL user
  .env.example
  server/src/db/promote-admin.ts
  server/src/index.ts
Due: lint-server

feat(i18n): add Chinese language
  README.md
  web/messages/zh.json
  web/project.inlang/settings.json
  web/src/components/locale-toggle.tsx
Due: lint-web

dev: update AGENTS file
  AGENTS.md
Due: none

fix(auth): set trustedProxies for better auth rate limiting
  server/src/lib/auth.ts
Due: lint-server

fix: resize graph views for Dutch language
  web/src/components/query-form.tsx
Due: lint-web

fix: fix type/lint errors
  web/src/components/table/state-table.tsx
  web/src/components/ui/chart.tsx
Due: lint-web

feat: add lastLoginAt to admin panel users table
  server/src/routes/v1/admin.ts
  server/src/routes/v1/index.ts
  web/messages/de.json
  web/messages/en.json
  web/messages/es.json
  web/messages/fr.json
  web/messages/nl.json
  web/messages/zh.json
  web/src/lib/admin-schemas.ts
  web/src/pages/admin/users.tsx
  web/src/queries/admin.ts
Due: lint-web, lint-server

feat: improve cross-service logging
  engine/src/logging.rs
  server/src/lib/engine.ts
  server/src/lib/json-error.ts
  server/src/lib/logger.ts
  server/src/lib/logging.ts
  server/src/lib/rate-limit.ts
  server/src/lib/require-auth.ts
  server/src/routes/v1/admin.ts
  server/src/routes/v1/state-notation/graph.ts
  server/src/routes/v1/state-notation/table.ts
  server/src/routes/v1/state-notation/throws.ts
Due: lint-server

ci: attempt to fix deployment race condition
  server/src/index.ts
  web/Caddyfile
Due: none

perf: add cargo-chef download instead of building it every time
  engine/Dockerfile
Due: none

feat: add onboarding wizard for state graphs
  bun.lock
  server/drizzle/0003_known_dragon_man.sql
  server/drizzle/meta/0003_snapshot.json
  server/drizzle/meta/_journal.json
  server/src/db/schema/auth.ts
  server/src/lib/auth.ts
  server/src/routes/v1/index.ts
  server/src/routes/v1/onboarding.ts
  web/messages/de.json
  web/messages/en.json
  web/messages/es.json
  web/messages/fr.json
  web/messages/nl.json
  web/messages/zh.json
  web/package.json
  web/src/components/graph/graph-canvas.tsx
  web/src/components/graph/graph-query-panel.tsx
  web/src/components/onboarding/animation-constants.ts
  web/src/components/onboarding/pattern-animation.tsx
  web/src/components/onboarding/slot-grid.tsx
  web/src/components/onboarding/state-graph-wizard.tsx
  web/src/components/onboarding/state-visualizer.tsx
  web/src/components/onboarding/throw-animation.tsx
  web/src/components/onboarding/wizard-step-ground-excited.tsx
  web/src/components/onboarding/wizard-step-how-throws-work.tsx
  web/src/components/onboarding/wizard-step-the-graph.tsx
  web/src/components/onboarding/wizard-step-welcome.tsx
  web/src/components/onboarding/wizard-step-what-is-state.tsx
  web/src/pages/graphs.tsx
Due: lint-web, lint-server

feat: show ban details when logging in
  server/src/lib/logging.ts
  server/src/routes/v1/admin.ts
  web/messages/de.json
  web/messages/en.json
  web/messages/es.json
  web/messages/fr.json
  web/messages/nl.json
  web/messages/zh.json
  web/src/pages/login.tsx
  web/src/queries/admin.ts
Due: lint-web, lint-server

feat: add contact form and GH link
  server/src/lib/logging.ts
  server/src/lib/rate-limit.ts
  server/src/routes/v1/contact.ts
  server/src/routes/v1/index.ts
  web/messages/de.json
  web/messages/en.json
  web/messages/es.json
  web/messages/fr.json
  web/messages/nl.json
  web/messages/zh.json
  web/src/components/footer-panel.tsx
  web/src/lib/schemas.ts
  web/src/routes/__root.tsx
Due: lint-web, lint-server

ci: fix deployment caching
  compose.yml
  web/Caddyfile
Due: none

ci: add benchmark regression ci
  .github/workflows/ci.yml
  engine/crates/juggling-tools/Cargo.toml
  engine/crates/juggling-tools/src/bin/bench.rs
Due: none

doc: improve comments
  scripts/dev.ts
  server/src/index.ts
  server/src/routes/v1/state-notation/graph.ts
  server/src/routes/v1/state-notation/table.ts
  server/src/routes/v1/state-notation/throws.ts
  web/src/lib/builder-graph-data.ts
Due: lint-web, lint-server

refactor(engine): add precomputed binomial coefficient table
  engine/crates/juggling-tools/src/util.rs
Due: none

Path conditions:
  lint-web: any of: web/src/**/*.{ts,tsx}
  lint-server: any of: server/src/**/*.ts
  format-rust: any of: engine/src/**/*.rs
